* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light: #eef4ed;
  --laranja: #ffad05;
  --azul-destaque: #20a4f3;
  --dark: #2e1f27;
  --azul-princ: #004e98;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: var(--light);
  text-align: center;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 5px;
  background-color: var(--azul-princ);
  color: var(--laranja);
}

.topo {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  width: 100%;
  height: 100px;
}

.topo img {
  max-width: 40px;
}

.topo h1 {
  grid-column: 2;
  justify-self: center;
}

#menu-btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50px;
  grid-column: 1;
  grid-row: 1;
  align-self: start;

  background: none;
  border: none;
  cursor: pointer;
}

.barra {
  background-color: var(--laranja);
  width: 30px;
  height: 3px;
}

header a {
  text-decoration: none;
  color: var(--laranja);
}

#menu {
  position: fixed;
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 12px;
  gap: 10px;
  top: 0;
  left: -250px;
  width: 220px;
  font-weight: 600;
  background-color: var(--light);
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  transition: left .3s ease;
}

.operacoes {
  grid-column: 1;
}

#btn-fecharMenu {
  grid-column: 2;
  width: 50px;
  position: absolute;
  right: -10px;
  font-weight: 600;
  font-size: 1.5em;
  color: var(--laranja);
  border: none;
  background: none;
  cursor: pointer;
}

#menu.ativo {
  left: 0;
}

main {
  margin-top: 1.6em;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding-bottom: 20px;
  max-width: 90%;
}

main a {
  text-decoration: none;
  color: var(--light);
}

.container-calc {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 20px;
  width: 80%;
  max-width: 480px;
  background-color: var(--azul-destaque);
  color: var(--dark);
  box-shadow: 3px 2px 5px #2e1f27a9;
  border-radius: .5em;
}



.entrada-valores {
  display: grid;
  grid-template-columns: minmax(0.5fr, 150px) 1fr;
  margin-bottom: 10px;
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--dark);
  border-radius: .5em;
  align-items: center;
  color: var(--laranja);
  font-weight: 700;
}

.container-calc input {
  grid-column: 2;
  padding: 12px;
  margin: 12px;
  border: 1px solid var(--dark);
  border-radius: .5em;
  background-color: #ffc44d8f;
  color: #fff;
  font-size: 1.2em;
  width: 90%;
}

.container-calc input:focus {
  outline: none;
}

.container-calc label {
  grid-column: 1;
  align-self: center;
}

#btn-menu {
  padding: 40px 0;
  margin-bottom: 200px;
}

.btn-enviar {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
  padding: 6px 4px 16px 4px;
}

.enviar {
  grid-column: 1;
}

.apagar {
  grid-column: -1;
}

.btn {
  cursor: pointer;
  background-color: var(--laranja);
  color: var(--light);
  font-weight: 700;
  border: none;
  font-size: 1.2em;
  height: 64px;
  min-width: 100px;
  border-radius: .5em;
  transition: all ease .2s;
}


a#voltar {
  background-color: #2e1f2788;
  padding: 20px 30px 20px 30px;
}

.passo-a-passo {
  padding: 5px;
}

.passo-a-passo div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 6px;
  background-color: var(--light);
  color: var(--dark);
  border-radius: .5em;
}

.passo-a-passo .operacao {
  font-size: 1.15em;
  padding: 12px;
  border-radius: .5em;
  font-weight: 600;
  border: 1px solid var(--laranja);
}

span {
  font-weight: 550;
}

.alerta {
  background-color: #ffad05;
  color: var(--light);
  padding: 1px;
  border-bottom: 1px solid var(--dark);
}

.atencao {
  background-color: #ff2b05;
  color: var(--light);
  padding: 1px;
  border-bottom: 2px solid var(--dark);
}

footer {
  background-color: var(--azul-princ);
  color: var(--laranja);
  text-align: center;
  padding: 10px 0;
  width: 100%;
  font-weight: 650;
}

.invisivel {
  display: none !important;
}

.explicando.invisivel {
  display: none;
}

@media (hover: hover) and (pointer: fine) {

  #lista-operacoes a:hover {
  background-color: var(--laranja);
  color: var(--light);
  font-weight: 700;
  cursor: pointer;
  transform: translate(5px, 2px);
 }

  .btn:hover {
   transform: scale(1.15) translate(6px, 5px);
  }

  a#voltar:hover {
  background-color: var(--laranja);
  font-size: 1.25em;
  padding: 25px 35px 25px 35px;
  }

  #btn-fecharMenu:hover {
    transform: scale(1.25);
  }
}